.btn {
  height: 3.813rem;
  width: 18.5rem;
  border-radius: .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  cursor: pointer;
  transition: .4s;
  border: none;
  
  &-iOS {
    background: #191826;
    &:hover {
      background: #66E2DC;
    }
  }
  &-Android {
    background: #FCFAF9;
    &:hover {
      background: #FFB964;
    }
  }

  // desktop
  @media (min-width: 1200px) {
    width: 20.813rem;
  }
}

.icon-android {
  margin-top: 10px;
}